*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    overflow-x: hidden;
}
/*nabar*/
.navbar__logo li a{
    text-decoration: none;
    color: #f0f0f0;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color:#f0f0f0;
    background: black;
}
.navbar__links{
    display: flex;
}
.navbar__link{
    padding: 0 10px;
}
.navbar__link a{
    text-decoration: none;
    color:#f0f0f0;
}
.navbar__links{
    display: flex;
    flex-direction: column;
    width: 0;
    height:calc(100vh - 65px);
    position: absolute;
    top:65px ;
    right: 0;
    background:black;
    transition: all .5s ease-in-out;
}
ul{
    list-style: none;
}
.show-nav .navbar__links{
    width: 100%;
}
.navbar__link{
    transform:translatex(101%) ;
}
.show-nav .navbar__link{
    transform:translatex(0%) ;
}
.navbar__link > a{
    display: block;
    padding: 1rem;
    font-size: 1.6rem;
    transition: all .4s ease-in-out;
}
.navbar__link > a:hover{
    padding-left: 2rem;
    letter-spacing: 5px;
}
/*toglle menu*/
.burger{
    display: block;
    position: relative;
    padding: 0;
    width: 45px;
    height: 45px;
    border: none;
    background: transparent;
    cursor: pointer;
}
.bar{
    display: block;
    width: 45px;
    height: 4px;
    background: #f0f0f0;
    border-radius: 3px;
    transition: all .5s ease-in-out;
}
.show-nav .bar{
    width: 0;
    background: transparent;
}
.bar::before, .bar::after{
    content: "";
    width: 45px;
    height: 4px;
    position: absolute;
    left: 0;
    background: #f0f0f0;
    border-radius: 3px;
    transition: all .5s ease-in-out;
}
.bar::before{
    transform: translateY(-12px);
}
.show-nav .bar::before{
    transform: rotate(45deg);
}
.bar::after{
    transform: translateY(12px);
}
.show-nav .bar::after{
    transform: rotate(-45deg);
}
/*animation*/
.show-nav .first{
    transition: all 1s ease-out;
}
.show-nav .second{
    transition: all 1.1s ease-out;
}
.show-nav .third{
    transition: all 1.2s ease-out;
}
.show-nav .four{
    transition: all 1.3s ease-out;
}
/*corp*/
body{
    background-color: #d5c6b5;   
}
.haut-de-page{
    height: 200px;
    background-image: url(../images/banniere.jpg);
    background-repeat: no-repeat;
    background-size: 100vh 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1{
    color: #ffffff;
    margin-right: 20px;
    margin-left: 20px;
    text-transform: uppercase;
    text-align: center;
}
h2{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10px;
    text-decoration: underline;
}
.haut-de-page p{
    color:rgb(255, 255, 255);
}
.bas-de-page{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/*carte de présentation*/
.bas-de-page ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.item-a{
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}
.carte{
    width: 165px;
    height: 300px;
    background:url(../images/texture_carte.jpg);
    border-radius: 10px;
    box-shadow: 2px 10px 12px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 20px 10px;
    transition: all .5s ease-in-out;
}
.carte:hover{
   scale: 0.9;
}
.model{
    padding-top: 10px;
    height: 250px;
    padding-bottom: 20px;
}
.nom-aventurier{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    padding-top: 10px;
    overflow: hidden;
}
.nom-lieu{
    color: rgb(0, 0, 0);
    font-size: 13.5px;
    font-weight: bold;
    letter-spacing: 2px;
    padding-top: 10px;
    overflow: hidden;
}
/*page listing*/
.carte-expe{
    width: 80%;
    background:url(../images/texture_carte.jpg);
    border-radius: 10px;
    box-shadow: 2px 10px 12px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 10px;
    transition: all .5s ease-in-out;
}
.carte-expe:hover{
    scale: 0.9;
}
.titre-expe{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
    padding-bottom: 15px;
}
.detail{
    padding: 10px 10px;
    font-size: 1.2em;
    overflow: hidden;
    padding-bottom: 25px;
}
.carte-expe p{
    overflow: hidden;
}
/******recherche***/
.fond-form{
    height: 400px;
}
form{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
}
label{
    font-size: 25px;
    margin-right: 10px;
}
#button{
    margin-top: 50px;
    color: white;
    background-color: black;
    padding: 5px;
    transition: all .5s ease-in-out;
}
#button:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(197, 197, 197);
    border: transparent;
}
/*footer*/
footer{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
footer div{
    display: flex;
}
footer p{
    padding-left: 45px;
    color: #f0f0f0;
}
/***********page admin*******/
.supportadmin{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.supportadmin a{
    text-decoration: none;
    font-size: 2em;
    color: aliceblue; 
}
.button{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100px;
    background: gray;
    border-radius: 20px;
    transition: all .5s ease-in-out;
}
.button:hover{
   scale: 0.9;
   opacity: 0.9;
}
/**************gestion**/
.bodyadmin{
    overflow: scroll;
}

table{
    margin: 20px 30px 40px 30px;
}
table td{
    font-size: 1.5em;
    text-align: center;
    padding: 5px;
}
table .model{
    width: 50%;
    height: 50%;
}
.boutonretour{
    font-size: 2em;
    padding: 10px;
    color: #000000;
}
.textintroadmin{
    font-size: 25px;
    text-align: center;
    padding: 30px;
}
.formulaireajout{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.formulaireajout input{
    width: 50%;
}
.formulaireajout span{
    font-size: 1.3em;
    padding: 10px
}
.formulaireajout select{
    width: 70%;
    font-size: 1.1em;
}

input[type="submit"] {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 50px;
}
/************version ordinateur***/

@media screen and (min-width:480px){
    header {
        position: fixed;
        width: 100%;
        z-index: 99;
    }
    .burger{
        display: none;
    }
    .navbar__link{
        transform:none ;
    }
    .navbar__links{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        position: inherit;
    }
    .navbar__link > a:hover{
        padding-left: 1rem;
        letter-spacing: 0px;
    }
    .navbar__link > a::after{
        display: block;
        content: "";
        width: 0;
        height: 1px;
        background: white;
        transition:width .4s ;
    }
    .navbar__link:hover >a::after{
        width: 100%;
    }  
/*page d'accueil*/
h1{
    color: #000000;
    font-size: 4em;
    text-shadow: 3px 2px 5px rgb(255, 255, 255);
    padding-top: 80px;
}
h2{
    font-size: 2.5em;
    
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.haut-de-page{
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position-y: -202px;
}
/*bas de page*/
.bas-de-page{
    width: 100%;
    justify-content: center;
}
.img_expe{
    height: 60%;
    width: 100%;
    OVERFLOW: hidden;
}
.item-a{
    width: 320px;
}
.carte{
    width: 90%;
    height: 300px;
}
.model{
    width: 65%;
}
.nom-lieu{
    font-size: 20px;
}
/****page listing**/
.carte-expe .model{
    width: 100%;
    overflow: hidden;
}
.carte-expe{
    width: 90%;
    height: 550px;
}
.titre-expe{
    padding-bottom: 30px;
}
.detail{
    padding-bottom: 50px;
}
/****formulaire***/
form{
    width: 905px;
    margin-top: 100px;
    align-items: center;
}
label{
    font-size: 3em;
    margin-right: 20px;
}
#barre-recherche{
    height: 30px;
    width: 622px;
}
#button{
    width: 900px;
    font-size: 1.2em;
}
/**********admin********/
.formulaireajout{
    margin-top: 5px;
    margin-bottom: 60px;
}
.formulaireajout input{
    font-size: 24px;
    width: 525px;
    height: 35px;
    overflow: hidden;
}
.formulaireajout span{
    font-size: 24px;
}
.formulaireajout select{
    font-size: 24px;
    width: 350px;
    height: 35px;
}
.bodyadmin{
    overflow: hidden;
}
}